{% extends "base.html" %}
{% block title %}Feedback Form{% endblock title %}
{% block body %}
<div class="container my-5">
    <h1>Feedback Form</h1>
    <form method="post" action="/feedback">
                            {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Message:</label>
            <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
        </div>
        <div class="mb-3">
            <label for="rating" class="form-label">Rating:</label>
            <div class="rating">
                <input type="radio" id="star5" name="rating" value="5" required/>
                <label for="star5" title="5 stars"></label>
                <input type="radio" id="star4" name="rating" value="4" required/>
                <label for="star4" title="4 stars"></label>
                <input type="radio" id="star3" name="rating" value="3" required/>
                <label for="star3" title="3 stars"></label>
                <input type="radio" id="star2" name="rating" value="2" required/>
                <label for="star2" title="2 stars"></label>
                <input type="radio" id="star1" name="rating" value="1" required/>
                <label for="star1" title="1 star"></label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock body %}
